@import 'variables';

.menu{
    height: 5rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 0;
    margin-top: 0;
    align-items: center;
    background: $oscuro;
    box-shadow: 0 9px 25px  rgba(0, 0, 0, 0.61);
    z-index: 1000;
    a{
        text-decoration: none;
        font-family: $titulo;
        font-size: 1.5rem;
        padding: .83rem;
        padding-right: 1.9rem;
        color: $claro;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        i{
            color: $oscuro;
            padding: .01rem;
            margin: .64rem;
            font-size: 2rem;
        }
        &:hover{
            color: $oscuro;
            background: $claro;
            clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    }
    }
}