//colores
$oscuro: #002200;
$claro: #16F419;
$clar0h: #16f41a77;
$formasA: #0e360ecc;
$formasB:#16F41a77;
$bg2: #000;
$detalles: #ffff ;

//tipografias
$titulo: 'Antonio', sans-serif;
$cuerpo: 'Roboto', sans-serif;